.navbar {
  min-height: 10vh;
  width: 100%;
  background-color: rgb(16, 16, 29);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}
.navLink {
  min-height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 70, 0.3);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  opacity: 0.5;
  border-radius: 20px;
  box-shadow: 0 8px 32x 0 rgba(31, 38, 135, 0.2);
  border: 1px solid rgba(255, 255, 255. 0.18);
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 padding: 1px;
 top: 0;
  
}
.hamburger div{
  display: flex;
  flex-direction: column;
  border-style: block;
  top: 0;
  margin: 3px;
  width: 20px;
  border: 1px solid;
}
.hamburger p{
  display: none;
  
}
.closeIcon {
  width: fit-content;
  height: 50px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.closeIcon p {
  display: block;
  color: red;
}

.closeIcon div:nth-child(1) {
  transform: rotate(50deg);
  width: 25px;
  /* border: 1px solid red; */
}
.closeIcon div:nth-child(2) {
  display: none;
}
.closeIcon div:nth-child(3) {
  transform: rotate(-230deg);
  width: 25px;
  /* border: 1px solid rebeccapurple; */
}

.hamburger:hover{
  cursor: pointer;
}
.sideMenu {
  margin: 10vh 10px;
  width: 200px;
  color: white;
  height: fit-content;
  top: 11px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(16, 16, 29);
  opacity: 0.90;
  padding: 30px 50px;
  position: absolute;
  z-index: 3;
  display: none;
}
.sideMenu div {
  height: 50px;
  align-items: center;
}
.sideMenu div:hover {
  background-color: wheat;
  color: black;
}
.hideSideMenu {
  left: -300px;
  display: none;
}
@media screen and (max-width: 825px) {
  .navbar {
      min-height: 10vh;
      padding: 0 2PX;
      margin: 0;
  }
  .sideMenu {
      display: block;
      margin: 55px 0;
  }
  
  .navLink {
      display: none;
  }
  .hamburger {
      right: 20px;
      top: 20px;
      align-items: flex-end;
      position: absolute;
  }
}