.section {
  height: fit-content;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 2px 2px 3px 4px rgba(197, 190, 192, 0.2); */
  background: linear-gradient(rgb(207, 206, 206), rgb(211, 202, 206), rgb(44, 42, 42));
}

.section:hover {
  font-size: large;
  transition: 0.2s;
}

.sectionHeader {
  box-shadow: 0px 0px 0px 4px rgba(161, 161, 161, 0.2);
  width: fit-content;
  padding: 10px;
  font-size: larger;
  font-weight: 500;
  border-radius: 5px;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 2px 2px 1px 2px rgba(197, 190, 192, 0.2);
  padding: 10px;
  margin: 20px;
  height: fit-content;
  font-weight: bold;
}

.form input {
  height: 40px;
  width: 400px;
  border-color: green;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}
.form input:hover {
  border-color: green;
  border-style: solid;
}
.form textarea {
  width: 400px;
  border-color: green;
  padding: 10px;
  border-style: none;
}

.form button {
  width: 200px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 0 4px rgb(43, 44, 44);
}
.form button:hover {
  background-color: rgb(235, 235, 243);
  cursor: pointer;
}

.modal {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal_container {
  margin: 30px 10px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
  position: absolute;
  top: 30%;
  left: 34.6%;
  font-weight: 500;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 10px;
}
.socialMedia span {
  color: rgb(66, 72, 160);
}
@media (max-width: 825px) and (min-width: 120px) {
.section {
  width: 100%;
  padding: 10px 30px;
}
.socialMedia {
  display: flex;
  flex-direction: row;
}
.form input {
  width: 300px;
}
.form textarea {
  width: 300px;
}
.form button {
  width: 180px;
  height: 30px;
}

.modal_container {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 8%;
  color: darkblue;
}
}
